/* Large screens styles */
@media screen and (min-width: 629px) {
    header {
        flex-direction: row;
    }

    #menuButton {
        display: none;
    }

    #menuNavigation {
        margin-top: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
    }

    #menuNavigation ul {
        display: flex;
    }

    #menuNavigation ul li {
        padding: 0;
    }

    #menuNavigation ul li a {
        padding: 1rem;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .templeGallery {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 2rem;
    }
}

@media screen and (min-width: 1000px) {
    .templeGallery {
        width: 80%;
        grid-template-columns: repeat(3, 1fr);
    }
}